/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700');

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

:root {
    /* to assign these val, you can use e.g.) var(--blue) */
    --green: #7cc68d;
    --red:rgba(221,51,51,0.77);
    --gray: #666;
  }
 



html{
    scroll-behavior: smooth; /*for somooth scrolling*/
}
body {
    font-family: 'Montserrat', sans-serif;

  overflow-x: hidden;
  /* padding-top: 50px; */
  color: #666;
  /* position: relative; */
 
}
p:empty {	
   display: none;	
}


h1{
  font-weight: 700;
  font-size: 60px;
  
}
ul {
    list-style-type: none;
}

li{
	font-family: 'Source Sans Pro', sans-serif;
}

a{
    font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
    color: black;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  transition: all 0.3s; 
    color: initial;
}


  h1, h2, h3, h4, h5, h6{
    font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
    color: black;
  }
p{
    line-height: 1.5em;
    font-size:14px;
}
  
.parallax {
    /* Set a specific height in each scss file*/
    height: 100vh;

  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    /* for home */
    /* z-index:-1; */
  }
  .centering{
      /* set its parent container position: relative */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

  }
 .vertical-middle{
           /* set its parent container position: relative */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
 } 

 .custom-button{
    border: 1px solid black;
    
}
.sticky{
  position: fixed;
  z-index: 999;
}

/* ---------------------------------------------------
End of CONTENT STYLE
----------------------------------------------------- */


/*-----------------------------------------
Header Style
--------------------------------------------------------*/
.header1{
  height: 100px;
  width: 100%;
  background-color: rgba(0,0,0,0.9);
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;

}
.first-header {
 
  height: 0px;
  width: 100%;
}
.header1 .row{
  width: 100%;
}
.logo {
  /* height: 50px; */
  height: 100px;
  width: 120px;
  background-size: cover;
  background-position: center;
  float: left;

}
.navbar {
  padding-top: 25px;
  justify-content:flex-end;
}
.navbar button{
  color:white;
}
.navbar-nav li a{
  color: white;
}

.navbar-nav {
  /* background-color: rgba(0,0,0,0.9); */
}
.nav-contents {
  justify-content: flex-end;
}


/*-----------------------------------------
End of Header Style
--------------------------------------------------------*/

/*-----------------------------------------
Home Style
--------------------------------------------------------*/
/*-----------------------------------------
end of Home Style
--------------------------------------------------------*/


/*-----------------------------------------
Contact Style
--------------------------------------------------------*/
.carousel-item{
    
    height: 300px;
}

/*-----------------------------------------
end of Contact Style
--------------------------------------------------------*/
/*-----------------------------------------
Footer Style
--------------------------------------------------------*/
.photo-gallery .image{
    
    height: 100px;
}
.photo-gallery .image:hover{
    transform: scale(2);
    cursor: pointer;
}

/*-----------------------------------------
end of Footer Style
--------------------------------------------------------*/


