

html{
    scroll-behavior: smooth; /*for somooth scrolling*/
}
body {
    font-family: 'Montserrat', sans-serif;

  overflow-x: hidden;
  /* padding-top: 50px; */
  color: #666;
  /* position: relative; */
 
}
.overflow{
  overflow-x: hidden;
}
p:empty {	
   display: none;	
}


h1{
  font-weight: 700;
  font-size: 60px;
  
}
ul {
    list-style-type: none;
}

li{
	font-family: 'Source Sans Pro', sans-serif;
}

a{
    font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
    color: black;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  transition: all 0.3s; 
    color: initial;
}


  h1, h2, h3, h4, h5, h6{
    font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
    color: black;
  }
p{
    // line-height: 1.5em;
    font-size:14px;
}
  
.parallax {
    /* Set a specific height in each scss file*/
    height: 100vh;

  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    /* for home */
    /* z-index:-1; */
  }
  .centering{
      /* set its parent container position: relative */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

  }
 .vertical-middle{
           /* set its parent container position: relative */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
 } 

 .custom-button{
    border: 1px solid black;
    
}
.sticky{
  position: fixed;
  z-index: 999;
}
i {
  margin-right: 5px;
}
/*--------------------------------------
Slider
-------------------------------------*/
.carousel-item {
  height: 300px;
}
.hidden {
  display: none;
}

/*--------------------------------------
End of Slider
-------------------------------------*/
/*--------------------------------------
Back To Top
-------------------------------------*/
.shown {
  display: block!important;
}

.back-to-top{
  display: none;
  position:fixed; 
  bottom:50px; 
  right:50px;
  background-color: $color-red;
  border-radius: 5px;
  z-index: 999;
 i{
  padding: 10px 15px;
  color: white;
 }
}
.back-to-top:hover{
  background-color: white;
  i{
    color: $color-red;
  }
}
/*--------------------------------------
End of Back To Top
-------------------------------------*/